<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../assets/style/auth.css">

</head>

<body>

    <div class="global-container">
        <div class="left">
            <div class="left-container">
                <h1>Heureux de vous revoir 👋</h1>
                <p>Connectez-vous pour retrouver vos scores, reprendre vos parties et défier vos amis en quelques clics.</p>

                <form method="post">
                    <label>Email</label>
                    <input type="email" placeholder="Example@email.com">
                    <label>Mot de passe</label>
                    <input type="password" placeholder="8 caractères minimum">
                    <div class="forgot-password">
                        <a>Mot de passe oublié ? </a>
                    </div>
                    <button type="submit" class="login-btn">Connexion</button>
                </form>

                <div class="or">
                    <span class="line"></span>
                    <span>OU</span>
                    <span class="line"></span>
                </div>

                <a class="login-with-google"> <img src="../assets/img/google.png">Se connecter avec Google</a>

                <div class="no-account">
                    <p>Pas de compte ? </p> <a href="./register.html">Je m'inscris</a>
                </div>
            </div>
        </div>

        <div class="right">
            <img src="../assets/img/Art.png">
        </div>
    </div>

</body>

</html>
