* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    overflow: hidden;
}
.global-container{
    width: 100%;
    display: flex;
    max-height: 100vh;
    height: 100vh;
}

.left, .right{
    width: 50%;
    height: 100%;
}

.left-container{
    padding: 100px;

    p{
        margin: 2rem 0;
    }
}

.message{
    background: #f7fbff;
    border: 1px solid #e8ebf3;
    display: block;
    border-radius: 8px;
    margin-bottom: 1rem;
    color: #000;
    padding: 8px;
}
form{
    input{
        padding: 10px;
        background-color: #f7fbff;
        border: 1px solid #e8ebf3;
        display: block;
        border-radius: 8px;
        margin-bottom: 1rem;
        width: 100%;

    }
}

.forgot-password{
    width: 100%;
    display: flex;
    justify-content: end;

    a{
        color: #1e4ae9;
        cursor: pointer;
    }
}


.login-btn{
    padding: 14px;
    background-color: #000;
    color: #fff;
    border-radius: 8px;
    width: 100%;
    border: none;
    cursor: pointer;
    margin-top: 2rem;
}

.right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 20px;
    border-radius: 40px;
}

.or{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;

    .line{
        height: 1px;
        width: 100%;
        background: #cfdfe2;

    }
}

.login-with-google{
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    background-color: #f3f9fa;
    justify-content: center;
    margin-top: 2rem;
    cursor: pointer;
    img{
        width: 40px;
    }
}

label{
    margin-bottom: .5rem;
    display: block;
}
.no-account{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    a{
        color: #1e4ae9;
        cursor: pointer;
        text-decoration: none;
    }
}


.password-box { display: inline-block;
width: 100%; }

.password-progress {
    width: 100%;
    height: 12px;
    margin-top: 10px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress-bar {
    float: left;
    height: 100%;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.bg-red {
    background: #E74C3C;
    border: 1px solid #E74C3C;
}

.bg-orange {
    background: #F39C12;
    border: 1px solid #F39C12;
}

.bg-green {
    background: #1ABB9C;
    border: 1px solid #1ABB9C;
}

@media (max-width: 768px){
    .global-container{
        display: block;
    }
    .right{
        display: none;
    }

    .left{
        width: 100%;
    }
    .left-container{
        width: 100%;
        padding: 45px;
    }
}