* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;

    background-color: #070320;
    color: #fff;
}

.container {
    max-width: 1260px;
    padding: 0 20px;
    margin: 0 auto;
}