body {
    font-family: 'Poppins', sans-serif;

    background-color: #070320;
    color: #fff;
}

.title {
    text-align: center;
    margin-top: 100px;
}

.title p {
    padding: 30px;
}

.game {
    margin-top: 5rem;
}

.parameters {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 50px;
    max-width: 700px;
    margin: 0 auto;
}

.parameters div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

select {
    border-radius: 4px;
    padding: 13px 75px 13px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.parameters button {
    font-size: 20px;
    padding: 8px 25px;
    border-radius: 12px;
    color: #fff;
    background: linear-gradient(90deg, #ff0000 0%, #ff7f00 100%);
    border: none;
    cursor: pointer;
    width: 100%;
}

.grid {
    display: grid;
    gap: 50px;
    justify-content: center;
    margin: 50px auto;
    max-width: 800px;
}

.grid-4{
 grid-template-columns: repeat(4, 1fr);
}

.grid-6{
     grid-template-columns: repeat(6, 1fr);
}

.grid-10{
     grid-template-columns: repeat(10, 1fr);
}

.grid img {
    width: 100%;
    display: block;
}

label {
    font-size: 11px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}


.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    p {
        margin-top: 2rem;
    }
}

.content div,
.content img {
    width: 50%;
}

.content button {
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 13px 45px;
    border: none;
    margin-top: 2rem;

}

.text button:hover {
    background-color: darkred;
    cursor: pointer;
}

.chat-section {
    position: fixed;
    bottom: 6rem;
    right: -50%;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    min-height: 550px;
    transition: .3s;
}

.head-chat {
    padding: 15px;
    background-color: #D80027;
    display: flex;
    align-items: center;

    button {
        background: none;
        border: none;
        color: #fff;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        margin-right: 1rem;
    }
}

.chat {
    color: #000;
    padding: 15px;
    width: 400px;
    margin-bottom: 20px;

    small {
        color: #737376;
        margin-top: 7px;
    }
}

.msg-dt,
.msg-me {
    display: flex;
    flex-direction: column; 
    margin-top: 2rem;
    max-width: 80%;
}

.pp {
    cursor: pointer;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

figcaption {
    font-size: 8px;
    text-align: center;
}

.msg-me-container,
.msg-dt-container {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-bottom: 5px;
}

.msg {
    padding: 13px;
    border-radius: 8px;
    max-width: 100%;
    word-wrap: break-word;
}


.msg-me {
    align-self: flex-end;
    align-items: flex-end;
    margin-left: auto;
}

.msg-me-container {
    flex-direction: row-reverse; 
}

.msg-me .msg {
    background: #D80027;
    color: rgb(0, 200, 255);
}

.msg-dt {
    align-self: flex-start;
    align-items: flex-start;
    margin-right: auto;
}

.msg-dt-container {
    flex-direction: row; 
}

.msg-dt .msg {
    background: #F2F2F2;
    color: #000;
}

.msg-dt small {
    margin-left: 50px;
}

.msg-me small {
    margin-right: 50px;
}

.gif {
    width: 40%;
    border-radius: 8px;
    margin-bottom: 30px;
    margin-top: 20px;
    align-self: center;
}

.time {
    color: #737376;
}

form {
    width: 100%;

    label {
        display: none;
    }

    input {
        width: 100%;
        padding: 20px;
        border: none;
        border-top: 1px solid #ededed;
        outline: none;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.btn-chat {
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    padding: 3px 5px;
    border-radius: 50%;
    background-color: #D80027;
    border: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

.chat-active {
    right: 2rem !important;
}

.return-i {
    transform: rotate(180deg);
}

@media (max-width: 768px) {
    .chat-section {
        width: 100%;
        right: -100%;
        bottom: 0 !important;
    }

    .chat-active {
        right: 0 !important;
    }

    .grid {
        gap: 10px;
        padding: 0 20px;
    }

    .parameters {
        flex-direction: column;
        padding: 0 20px;
        gap: 20px;
    }

    .content {
        flex-direction: column;
        margin-top: 10rem;
    }

    .content div,
    .content img {
        width: 100%;
        padding: 0 20px;
    }

    .title {
        margin-top: 10rem;
    }
}