/*Header*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    position: fixed;
    top: 0;
    width: 100%;
    background: #070320;
    z-index: 9999;
}

.pp-menu {
    cursor: pointer;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.menu {
    position: absolute;
    width: 250px;
    background-color: #161231;
    top: 90px;
    right: 30px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;

    a {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 12px;
        transition: all .3s;

    }

    a:hover {
        background: #252140;
    }
}

.menu-visible {
    opacity: 1 !important;
    visibility: visible !important;
}

.logout-btn {
    border-top: 1px solid #252140;
}

.header-selected {
    color: red;
}

.logo {
    width: 35px;
}

.contact-btn {
    background-color: #d80027;
    padding: 10px;
    border-radius: 10px;
}

header nav {
    display: flex;
    align-items: center;
    gap: 70px;
}

header nav a {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.burger-menu{
    display: none;
}
.burger-menu span {
    width: 25px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger-menu.active .span1 {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger-menu.active .span2 {
    opacity: 0;
}

.burger-menu.active .span3 {
    transform: rotate(-45deg) translate(5px, -5px);
}

.burger-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}


.burger{
    display: none;
    position: absolute;
    top: 0;
    height: 100vh;
    right: -100%;
    width: 100%;
    background: #000;
    display: flex;
    flex-direction: column;
    padding: 80px 15px 15px 10px;
    z-index: -1;
    gap: 1rem;
    transition: .3s;

    a{
        text-decoration: none;
        color: #fff;
    }
}

.burger-active{
    right: 0;
}
@media (max-width: 768px) {
    header {
        nav {
            display: none;
        }

        .burger-menu {
            display: block;
        }
    }

    .contact-btn{
        background-color: transparent;
    padding: 0px;
    border-radius: 0px;
    }

    .burger, .burger-menu{
        display: flex;
    }
}