/*Header*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    position: fixed;
    top: 0;
    width: 100%;
    background: #070320;
    z-index: 9999;
}

.pp-menu {
    cursor: pointer;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.menu {
    position: absolute;
    width: 250px;
    background-color: #161231;
    top: 90px;
    right: 30px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;

    a {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 12px;
        transition: all .3s;

    }

    a:hover {
        background: #252140;
    }
}

.menu-visible {
    opacity: 1 !important;
    visibility: visible !important;
}

.logout-btn {
    border-top: 1px solid #252140;
}

.header-selected {
    color: red;
}

.logo {
    width: 35px;
}

.contact-btn {
    background-color: #d80027;
    padding: 10px;
    border-radius: 10px;
}

header nav {
    display: flex;
    align-items: center;
    gap: 70px;
}

header nav a {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}



.burger-menu {
    display: none;

    span {
        width: 25px;
        height: 3px;
        background-color: #fff;
        display: block;
    }

    cursor: pointer;
}

.burger-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (max-width: 768px) {
    header {
        nav {
            display: none;
        }

        .burger-menu {
            display: block;
        }
    }
}