body {
    font-family: 'Poppins', sans-serif;
    background-color: #070320;
    color: #fff;
}

.banner {
    background-color: #d80027;
    height: 350px;
    position: relative;

    img {
        max-width: 200px;
        border-radius: 50%;
        outline: 8px solid #070320;
    }

    h2 {
        font-size: 1.8rem;
    }
}

.flex-items {
    display: flex;
    gap: 5rem;

    div {
        margin-top: 2rem;
    }
}

.edit-pp {
    position: absolute;
    border-radius: 50%;
    background: #f006;
    bottom: 0;
    right: 0;
    cursor: pointer;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    top: 0;
    opacity: 0;
    transition: .1s;

    label {
        cursor: pointer;
        padding: 4rem;
    }
}

.flex-items {

    form,
    div {
        width: 100%;
    }
}

.profile-picture-wrapper:hover {
    .edit-pp {
        opacity: 1;
    }
}

.profile-picture-wrapper {
    position: relative;
    width: 200px;
    height: 200px;

    img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
}

.container,
.container-banner {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-banner {
    position: relative;
    height: 100%;
}

.banner-content {
    position: absolute;
    left: 20px;
    position: absolute;
    bottom: -90px;
    display: flex;
    align-items: end;
    gap: 1rem;

    small {
        color: #71717a;
    }
}

.profil {
    margin-top: 10rem;

    label,
    input {
        display: block;
    }

    label {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    input,
    textarea {
        padding: 15px;
        background-color: transparent;
        border: 1px solid #333;
        display: block;
        border-radius: 8px;
        margin-bottom: 1rem;
        width: 100%;
        color: #fff;
        outline: none;
        transition: all .3s;
    }

    input:focus {
        border-color: #d80027;
    }
}

form button {
    padding: 15px;
    background-color: #d80027;
    display: block;
    border-radius: 8px;
    margin-bottom: 1rem;
    width: 100%;
    color: #fff;
    cursor: pointer;
    border: none;
}

.statistics {
    background-color: transparent;
    border-radius: 8px;
}

.statistics h1 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 1.5rem;
    padding-bottom: 10px;
}

.played_games p {
    margin-bottom: 1rem;
}

.best-score p {
    color: #fff;
    margin-bottom: 1rem;
}

.score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 8px;
    transition: all .3s;
}

.score:hover {
    border-color: #d80027;
}

.score span:first-child {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
}

.score span:last-child {
    font-weight: 600;
    color: #d80027;
    font-size: 1.1rem;
}


.score:hover {
    cursor: pointer;
}


.score.easy {
    color: greenyellow;
}

.score.medium span:first-child i {
    color: #ffc107;
}

.score.hard span:first-child i {
    color: #d80027;
}

.score i {
    font-size: 1.5rem;
}

@media (max-width: 768px) {}


@media (max-width: 768px) {
    .flex-items {
        flex-direction: column;
    }

    .profil {
        max-width: 100%;
    }

    .statistics h1 {
        font-size: 1.5rem;
    }

    .banner-content {
        gap: 1rem;

        small {
            display: none;
        }

    }
}