body {
  font-family: 'Poppins', sans-serif;

  background-color: #070320;
  color: #fff;
}

.highlight {
  color: #ff0000;
  text-shadow: 0 0 3px #fff, 0 0 0 #ff0000, 0 0 30px #ff0000, 0 0 0 #ff0000, 0 0 9px #ff0000;
}

.settings form {
    display: flex;
    gap: 2rem;
    margin-top: 100px;
    align-items: flex-end;
}

.field {
    display: flex;
    flex-direction: column;
}

.field input,
.field select {
    width: 200px;
    padding: 14px 28px;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
}

.hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;

  p {
    margin-top: 1rem;
    max-width: 500px;
  }
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  /* espace vertical entre les lignes */
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-align: left;
  margin-top: 5rem;
}

thead {
  background-color: #f4f4f4;
  color: #000;
}

thead th {
  font-weight: bold;
  padding: 15px;
}

tbody tr {
  background: #fff;
  color: #000;
}

tbody td {
  padding: 15px;
  border-bottom: 1px solid #eee;
}

tbody tr td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

tbody tr td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

td img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin-right: 8px;
  border-radius: 6px;
}

td span {
  vertical-align: middle;
}

.flex-2 {
  display: flex;
  gap: 20px;
  margin-top: 15rem;
  align-items: center;

  div,
  img {
    width: 100%;

  }

  p {
    margin-top: 2rem;
  }

  button {
    padding: 15px 45px;
    background-color: red;
    color: #fff;
    border: none;
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  .flex-2 {
    flex-direction: column;
  }
}